body {
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.cover {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
a.box {
  position: absolute;
  bottom: 36px;
  right: 36px;
  width: 120px;
  height: 120px;
  z-index: 2;
  cursor: pointer;
}
img.box {
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: 36px;
  right: 36px;
  z-index: 2;
}