
.spotted-1 {
  background: url('./images/spotted-1.png');
}
.spotted-2 {
  background: url('./images/spotted-2.png');
}
.spotted-3-1 {
  background: url('./images/spotted-3-1.jpeg');
}
.spotted-4 {
  background: url('./images/spotted-4.png');
}
.spotted-5 {
  background: url('./images/spotted-5.png');
}
.spotted-6-1 {
  background: url('./images/spotted-6-1.png');
}
.spotted-6-2 {
  background: url('./images/spotted-6-2.png');
}
.spotted-7-1 {
  background: url('./images/spotted-7-1.png');
}
.spotted-8 {
  background: url('./images/spotted-8.png');
}